#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

## MAIN CONFIG

setuid          = {{ __stunnel_user }}
setgid          = {{ __stunnel_group }}
debug           = {{ debug_level }}
pid             = {{ pid_location }}/{{ pid_file }}
CAfile          = {{ cafile_location }}/{{ ca_file }}

output          = {{ log_location | default('/dev') }}/{{ log_file | default('null') }}

## JOBS

{% if stunnel_jobs != {} %}
{%   for item in stunnel_jobs %}
[{{ item }}]
accept          = {{ stunnel_jobs[item].accept }}
connect         = {{ stunnel_jobs[item].connect }}
cert            = {{ stunnel_jobs[item].cert }}
key             = {{ stunnel_jobs[item].key }}
verify          = {{ stunnel_jobs[item].verify }}

{%   endfor %}
{% endif %}
